h1 {
  font-family: "Fredoka One", cursive;
  color: #15d880;
  font-size: 2.5rem;
  font-weight: 100;
}
h2 {
  font-family: "Fredoka One", cursive;
  color: #15d880;
  font-size: 1.5rem;
  font-weight: 400;
}

h3 {
  color: white;
}

body {
  background-color: #101012;
  color: white;
  font: normal 1em/1.45em "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 50px;
  margin: 0 auto;
}
