body {
  margin: 0;
}
.App {
  /* text-align: center; */
  /* background-color: rgb(85, 113, 83); */
  /* color: white; */
  padding: 25px 50px;
}
/* header {
  font-family: "Fredoka One", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

element {
  font-family: "Rockwell";
}

.footer {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  font-weight: 200;
} */
